@import url('https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Tomorrow', sans-serif;
  background: linear-gradient(89deg, #f012c3 0%, #0dd7ee 100%);
}

button {
  cursor: pointer;
}

